flows.json
[
    {
        "id": "b5d76542feef8d37",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6961f14fdaa59452",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "581c3ee711ab0253",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Leantech IoT Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "icon",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "371996ac950c3d9b",
        "type": "ui_tab",
        "name": "LeanTechIoT",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7be3f317e9f5c37e",
        "type": "ui_group",
        "name": "Server Room1",
        "tab": "371996ac950c3d9b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "57976eed088665e1",
        "type": "ui_group",
        "name": "Server Room#2",
        "tab": "371996ac950c3d9b",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "fd049c460d424ad5",
        "type": "ui_group",
        "name": "Server Group#3",
        "tab": "371996ac950c3d9b",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "2599ec9b1b58516d",
        "type": "ui_group",
        "name": "Trend",
        "tab": "371996ac950c3d9b",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "cdea36f05b9c1cd8",
        "type": "ui_group",
        "name": "Diagram",
        "tab": "371996ac950c3d9b",
        "order": 1,
        "disp": true,
        "width": "27",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa561f4a.a44358",
        "type": "function",
        "z": "b5d76542feef8d37",
        "name": "Function",
        "func": "var msg1 = '{\"deviceID\": \"Arduino001\", '\nmsg1 = msg1 + '\"SAK\": \"Yub6LJ9vjuPaJ4zWXCPEYr8+eRByyCUwB3h8VefIlEE=\", '  \nmsg1 = msg1 + '\"Protocol\": \"mqtt\", '\nmsg1 = msg1 + '\"Data\": { \"' + msg.topic + '\": \"' + msg.payload + '\"}}'\n\nvar newMsg = { payload: msg1 };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 380,
        "wires": [
            [
                "39c7854c.56d18a"
            ]
        ]
    },
    {
        "id": "48115883.03fae8",
        "type": "inject",
        "z": "b5d76542feef8d37",
        "name": "Speed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "speed",
        "payload": "345",
        "payloadType": "num",
        "x": 361,
        "y": 387,
        "wires": [
            [
                "aa561f4a.a44358"
            ]
        ]
    },
    {
        "id": "39c7854c.56d18a",
        "type": "debug",
        "z": "b5d76542feef8d37",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 848.3400268554688,
        "y": 350.47998046875,
        "wires": []
    },
    {
        "id": "31ae88af.f84fa",
        "type": "inject",
        "z": "b5d76542feef8d37",
        "name": "Temperature",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "temperature",
        "payload": "87",
        "payloadType": "num",
        "x": 379,
        "y": 423,
        "wires": [
            [
                "aa561f4a.a44358"
            ]
        ]
    },
    {
        "id": "f3fce0b1.76ed6",
        "type": "inject",
        "z": "b5d76542feef8d37",
        "name": "Send Multiple Values",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{ \"temperature\" : \"32\", \"Humidity\": \"34\"}",
        "payloadType": "json",
        "x": 400,
        "y": 248,
        "wires": [
            [
                "14836f2d51ba9663"
            ]
        ]
    },
    {
        "id": "15aa66ba.d05be9",
        "type": "inject",
        "z": "b5d76542feef8d37",
        "name": "Send one value",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{ \"Humidity\" : \"30\"}",
        "payloadType": "json",
        "x": 377.9099426269531,
        "y": 210.09001922607422,
        "wires": [
            [
                "14836f2d51ba9663"
            ]
        ]
    },
    {
        "id": "24956e6.952af12",
        "type": "inject",
        "z": "b5d76542feef8d37",
        "name": "Send one value",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{ \"temperature\" : \"25\"}",
        "payloadType": "json",
        "x": 383,
        "y": 142,
        "wires": [
            [
                "14836f2d51ba9663"
            ]
        ]
    },
    {
        "id": "6c8ee8e3a5382b43",
        "type": "mqtt in",
        "z": "b5d76542feef8d37",
        "name": "",
        "topic": "temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6961f14fdaa59452",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "2d91d39ca9729563"
            ]
        ]
    },
    {
        "id": "b8b70400f9334b4e",
        "type": "debug",
        "z": "b5d76542feef8d37",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 100,
        "wires": []
    },
    {
        "id": "2d91d39ca9729563",
        "type": "function",
        "z": "b5d76542feef8d37",
        "name": "function 1",
        "func": "var msg1 = '{ \"' + msg.topic + '\": \"' + msg.payload + '\"}'\nvar newmsg = { payload: msg1 };\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 80,
        "wires": [
            [
                "df9b57e7193c90c9"
            ]
        ]
    },
    {
        "id": "14836f2d51ba9663",
        "type": "Azure IoT Central",
        "z": "b5d76542feef8d37",
        "scopeid": "0ne00A3E8C3",
        "deviceid": "8slxe5cvh7",
        "primarykey": "PBosOPjcQo0nFdGSC+wiS+xnlf3qJSJQn300cBSzy74=",
        "command1": "",
        "command2": "",
        "command3": "",
        "command4": "",
        "command5": "",
        "transport": "mqtt",
        "auth": "sas",
        "certfile": "",
        "certkeyfile": "",
        "passwordi": "",
        "x": 760,
        "y": 180,
        "wires": [
            [
                "39c7854c.56d18a"
            ]
        ]
    },
    {
        "id": "df9b57e7193c90c9",
        "type": "json",
        "z": "b5d76542feef8d37",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 80,
        "wires": [
            [
                "b8b70400f9334b4e",
                "14836f2d51ba9663"
            ]
        ]
    },
    {
        "id": "4256a32b17266dd0",
        "type": "mqtt in",
        "z": "b5d76542feef8d37",
        "name": "",
        "topic": "Humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6961f14fdaa59452",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 240,
        "wires": [
            [
                "2d91d39ca9729563"
            ]
        ]
    },
    {
        "id": "0beb6c37db1256fb",
        "type": "mqtt out",
        "z": "b5d76542feef8d37",
        "name": "",
        "topic": "temperature",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6961f14fdaa59452",
        "x": 510,
        "y": 500,
        "wires": []
    },
    {
        "id": "c0b7502f344467eb",
        "type": "inject",
        "z": "b5d76542feef8d37",
        "name": "sampling time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "temperature",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "6b5ea2cbaec2de3f"
            ]
        ]
    },
    {
        "id": "6b5ea2cbaec2de3f",
        "type": "random",
        "z": "b5d76542feef8d37",
        "name": "randomTemp",
        "low": "20",
        "high": "50",
        "inte": "false",
        "property": "payload",
        "x": 290,
        "y": 500,
        "wires": [
            [
                "0beb6c37db1256fb",
                "95d621f617c5ebf3",
                "ebd33864d0284f41"
            ]
        ]
    },
    {
        "id": "95d621f617c5ebf3",
        "type": "debug",
        "z": "b5d76542feef8d37",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 560,
        "wires": []
    },
    {
        "id": "71ec8576274076cf",
        "type": "mqtt out",
        "z": "b5d76542feef8d37",
        "name": "",
        "topic": "Humidity",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6961f14fdaa59452",
        "x": 500,
        "y": 660,
        "wires": []
    },
    {
        "id": "04ceeb5fc9f8b67f",
        "type": "inject",
        "z": "b5d76542feef8d37",
        "name": "sampling time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "Humidity",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "52c387b2f8573df1"
            ]
        ]
    },
    {
        "id": "52c387b2f8573df1",
        "type": "random",
        "z": "b5d76542feef8d37",
        "name": "randomHumu",
        "low": "10",
        "high": "50",
        "inte": "false",
        "property": "payload",
        "x": 300,
        "y": 660,
        "wires": [
            [
                "71ec8576274076cf",
                "15444c1cad55e1d9",
                "99d4c19f4a225870"
            ]
        ]
    },
    {
        "id": "15444c1cad55e1d9",
        "type": "debug",
        "z": "b5d76542feef8d37",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 720,
        "wires": []
    },
    {
        "id": "f80346bb49425c9c",
        "type": "ui_media",
        "z": "b5d76542feef8d37",
        "group": "57976eed088665e1",
        "name": "Server Room",
        "width": 0,
        "height": 0,
        "order": 1,
        "category": "Server",
        "file": "racks-of-servers.jpg",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "muted": true,
        "scope": "local",
        "tooltip": "",
        "x": 390,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "891b724330fefd16",
        "type": "ui_form",
        "z": "b5d76542feef8d37",
        "name": "Login",
        "label": "",
        "group": "7be3f317e9f5c37e",
        "order": 1,
        "width": "6",
        "height": "13",
        "options": [
            {
                "label": "Username",
                "value": "Username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "Password",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "Username": "",
            "Password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 390,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "e7c1b01a7f7cdf18",
        "type": "ui_ui_control",
        "z": "b5d76542feef8d37",
        "name": "Group1",
        "events": "all",
        "x": 340,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "56e265c9e453d9d8",
        "type": "ui_gauge",
        "z": "b5d76542feef8d37",
        "name": "",
        "group": "fd049c460d424ad5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ebd33864d0284f41",
        "type": "ui_chart",
        "z": "b5d76542feef8d37",
        "name": "",
        "group": "2599ec9b1b58516d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "99d4c19f4a225870",
        "type": "ui_chart",
        "z": "b5d76542feef8d37",
        "name": "",
        "group": "2599ec9b1b58516d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "22da030c61e46e3e",
        "type": "inject",
        "z": "b5d76542feef8d37",
        "name": "sampling time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "Scale",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1020,
        "wires": [
            [
                "aff909c4d5a7acbf"
            ]
        ]
    },
    {
        "id": "aff909c4d5a7acbf",
        "type": "random",
        "z": "b5d76542feef8d37",
        "name": "Scale",
        "low": "0",
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 310,
        "y": 1020,
        "wires": [
            [
                "56e265c9e453d9d8"
            ]
        ]
    },
    {
        "id": "9baf7f22aea671ab",
        "type": "ui_svg_graphics",
        "z": "b5d76542feef8d37",
        "group": "cdea36f05b9c1cd8",
        "order": 1,
        "width": 0,
        "height": 0,
        "svgString": "<svg x=\"0\" y=\"0\" height=\"100\" viewBox=\"0 0 100 100\" width=\"100\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n<!-- Add here your SVG shapes (circles, rectangles, ...) -->\n<!-- Or remove everything, if you want to paste an entire drawing (<svg...>...</svg>).-->\n</svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "",
        "x": 660,
        "y": 920,
        "wires": [
            []
        ]
    }
]